* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* LAYOUT */
header {
  background-color: rgba(20, 20, 25, 0.6);
  height: 100px;
  width: calc(100vw - 200px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

main {
  background-color: rgb(40, 40, 50);
  height: calc(100vh - 100px);
  display: flex;

}

aside {
  background-color: #000;
  width: 200px;
  height: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: rgb(40, 40, 40);
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;

}
/* LAYOUT */

/* HEADER */

div.button-container {
  /* float: right;
  padding: calc((100px - 37px) / 2);
  padding-right: 20px; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  padding-right: 20px;
}

div.button-container button {
  padding: 10px 40px;
  text-transform: uppercase;
  border: 1px solid #FFF;
  border-radius: 20px;
  color: #FFF;
  background-color: rgba(20, 20, 25, 0.6);
}

/* HEADER */

/* MAIN */

/* ASIDE */

div.logo {
  padding-top: 20px;
}


div i.fa-spotify {
  font-size: 40px;

  vertical-align: middle;

}

aside h1 {
  color: #FFF;
  display: inline-block;
  vertical-align: middle;

}

div.icons ul {
  padding-top: 20px;
}

div.icons ul li {
  padding: 5px 0;
  list-style: none;
}

div.icons ul li a {
  text-decoration: none;

}

div.icons ul li a svg {
  vertical-align: middle;

}

div.playlist {
  overflow-y: auto;
  min-height: 40vh;
}

div.playlist h5 {
  padding-top: 15px;
}

div.plus-container {
  height: 40px;
  width: 40px;
  display: inline-block;
  vertical-align: middle;
  background-color: #b3b3b3;
  position: relative;
}

div.plus-container i {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

div.playlist ul {
  padding-top: 15px;
}

div.playlist ul li {
  padding-bottom: 20px;
  list-style: none;
}

div.profile {
  margin-top: auto;
}

div.profile i.fa-arrow-circle-down {
  background-color: #b3b3b3;
  color: #000;
  border-radius: 50%;
  font-size: 14px;
}

div.profile div.install {
  padding-bottom: 10px;
  border-bottom: 0.5px solid #b3b3b3;
  width: 90%;
}


div.profile div.install span {
  font-size: 14px;
  padding-left: 10px;
}

div.profile div.name {
  padding-top: 15px;
  padding-bottom: 5px;
}

div.profile div.name i.fa-user-circle {
  font-size: 25px;
  vertical-align: middle;
}

div.profile div.name span {
  padding-left: 10px;
  font-size: 14px;
  font-weight: 700;
}











/* ASIDE */

/* MAIN */

div.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.nav div.nav-item {
  padding: 20px 10px;
  font-weight: 500;
}

div.music {
  width: calc(100vw - 200px);
  overflow-y: auto;
  padding-top: 100px;
}

div.music h3 {
  padding: 20px 10px 0 10px;
  font-size: 30px;
  font-weight: 700;
}


div.album-container {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  padding-top: 20px;
}

div.music-card {
  height: 200px;
  width: calc(100% / 6 - 20px);
  margin: 10px 10px;
}

div.music-card img {
  width: 100%;
  height: 100%;
}

div.music-card h4 {
  color: #FFF;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
}

div.music-card p {
  color: #b3b3b3;
  font-size: 12px;
  padding-top: 8px;
  text-align: center;

}

div.music h3 + p {
  padding-left: 10px;
  color: #b3b3b3;
  font-size: 14px;
  padding-top: 5px;
}



/* MAIN */

/* FOOTER */

div.player {
  height: 100%;
  display: flex;
  align-items: center;
}

div.left {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  height: 100%;
}

div.center {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  height: 100%;
}

div.right {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  height: 100%;
}

div.album-img img {
  width: 60px;
  height: 40px;
  padding-left: 10px;
}

div.song {
  padding-left: 10px;
}

div.song h6 {
  font-size: 12px;
  font-weight: 500;
}

div.song p {
  font-size: 10px;
}

div.like {
  padding-left: 40px;
}

div.like i {
  padding-right: 8px;
}

div.player-icon {
  display: flex;
  justify-content: center;
}

div.player-icon ul {
  padding-top: 15px;

}


div.player-icon ul li {
  list-style: none;
  display: inline-block;
  padding-right: 15px;

}

div.player-icon ul li a i {
  color: #FFF;
  font-size: 16px;
  vertical-align: middle;

}

div.player-icon ul li a i.fa-play-circle {
  font-size: 25px;
}

div.song-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

div.song-bar span {
  color: #b3b3b3;
  font-size: 10px;
}

div.song-bar input {
  width: 80%;
}

div.right i {
  font-size: 12px;
  padding-right: 15px;
}

div.right div.volume input {
  vertical-align: middle;
}






/* FOOTER */


/* UTILITY */

.text-white {
  color: #FFF;
}

.text-center {
  text-align: center;
}

.text-grey {
  color: #b3b3b3;
}

.text-uppercase {
  text-transform: uppercase;
}

.rounded  {
  border-radius: 50%;
}

/* UTILITY */

/* MEDIA QUERIES */

@media all and (max-width: 878px) {
  div.music-card {
    width: calc(100% / 4 - 20px);
  }

  div.album-container {
    height: 600px;
  }
}

/* MEDIA QUERIES */
