* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* LAYOUT */
header {
  background-color: rgba(20, 20, 25, 1);
  height: 100px;
  width: calc(100vw - 200px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

main {
  background-color: rgb(40, 40, 50);
  height: calc(100vh - 100px);
  display: flex;

}

aside {
  background-color: #000;
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

footer {
  background-color: rgb(40, 40, 40);
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;

}
/* LAYOUT */

/* HEADER */

div.button-container {
  /* float: right;
  padding: calc((100px - 37px) / 2);
  padding-right: 20px; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  padding-right: 20px;

}

div.button-container button:hover {
  height: 50px;
  width: 250px;
  cursor: pointer;
}


div.button-container button {
  padding: 10px 40px;
  text-transform: uppercase;
  border: 1px solid #FFF;
  border-radius: 20px;
  color: #FFF;
  background-color: rgba(20, 20, 25, 0.6);
}

/* HEADER */

/* MAIN */

/* ASIDE */

div.logo {
  padding-top: 20px;
}


div i.fa-spotify {
  font-size: 40px;

  vertical-align: middle;

}

aside h1 {
  color: #FFF;
  display: inline-block;
  vertical-align: middle;

}

div.icons ul {
  padding-top: 20px;
}

div.icons ul li {
  padding-bottom: 5px;
  list-style: none;
}

div.icons ul li.border-green {
  border-left: 2px solid #08cb0e;
}

div.icons ul li a.active {
  color: #FFF;
}


div.icons ul li a {
  text-decoration: none;

}

div.icons ul li a svg {
  vertical-align: middle;
}

div.icons ul li a:hover {
  color: #FFF;
}



div.playlist {
  overflow-y: auto;
  min-height: 40vh;
}

div.playlist h5 {
  padding-top: 15px;
}

div.plus-container {
  height: 40px;
  width: 40px;
  display: inline-block;
  vertical-align: middle;
  background-color: #b3b3b3;
  position: relative;
}




div.plus-container i {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

div.playlist ul {
  padding-top: 15px;
}

div.playlist ul li {
  padding-bottom: 20px;
  list-style: none;
}

div.playlist ul li a {
  text-decoration: none;
  color: #b3b3b3;
}

div.playlist ul li:hover div.plus-container {
  background-color: #FFF;
}

div.playlist ul li:hover span {
  color: #FFF;
}

div.playlist ul li:hover {
  cursor: pointer;
}




div.playlist ul li a:hover {
  color: #FFF;
}



div.profile {
  margin-top: auto;
}

div.profile i.fa-arrow-circle-down {
  background-color: #b3b3b3;
  color: #000;
  border-radius: 50%;
  font-size: 14px;
}

div.profile div.install {
  padding-bottom: 10px;
  border-bottom: 0.5px solid #b3b3b3;
  width: 90%;
}


div.profile div.install span {
  font-size: 14px;
  padding-left: 10px;
}

div.profile div.install span:hover {
  color: #FFF;
  cursor: pointer;
}


div.profile div.name {
  padding-top: 10px;
  padding-bottom: 10px;
}

div.profile div.name i.fa-user-circle {
  font-size: 25px;
  vertical-align: middle;
}

div.profile div.name span {
  padding-left: 10px;
  font-size: 14px;
  font-weight: 700;
}
/* ASIDE */

/* MAIN */

div.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.nav div.nav-item {
  padding: 20px 10px;
  font-weight: 500;
  font-size: 14px;
  position: relative;
}

div.nav div.nav-item a {
  text-decoration: none;
  color: #b3b3b3;
}

div.nav div.nav-item a:hover {
  color: #FFF;
}

div.nav div.nav-item a.b-green:after {
  content: "";
  border-bottom: 2px solid #08cb0e;
  display: inline-block;
  width: 35%;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%);
}



div.music {
  width: calc(100vw - 200px);
  overflow-y: auto;
  padding-top: 100px;
}

div.music h3 {
  padding: 20px 10px 0 10px;
  font-size: 30px;
  font-weight: 700;
}


div.album-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}


div.music-card {
  width: calc(100% / 6 - 20px);
  margin: 10px 10px;
}

div.layover {
  position: relative;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 175px;
}

div.layover img:hover {
  opacity: 0.2;
  cursor: pointer;
}




div.layover a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-size: 50px;
  display: none;
}

div.layover:hover a {
  display: block;

}



div.music-card img {
  width: 100%;
  height: 175px;
  margin: 0 auto;
}

div.music-card h4 {
  color: #FFF;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
}

div.music-card p {
  color: #b3b3b3;
  font-size: 12px;
  padding-top: 8px;
  text-align: center;

}

div.music h3 + p {
  padding-left: 10px;
  color: #b3b3b3;
  font-size: 14px;
  padding-top: 5px;
}



/* MAIN */

/* FOOTER */

div.player {
  height: 100%;
  display: flex;
  align-items: center;
}

div.left {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  height: 100%;
}

div.center {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  height: 100%;
}

div.right {
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  height: 100%;
}

div.album-img img {
  width: 60px;
  height: 40px;
  padding-left: 10px;
}

div.song {
  padding-left: 10px;
}

div.song h6 {
  font-size: 12px;
  font-weight: 500;
}

div.song p {
  font-size: 10px;
}

div.song p:hover {
  color: #FFF;
  text-decoration: underline;
  cursor: pointer;
}


div.like {
  padding-left: 40px;
}

div.like i {
  padding-right: 8px;
}

div.like a i:hover {
  color: #FFF;
}


div.player-icon {
  display: flex;
  justify-content: center;
  height: 55px;
}

div.player-icon ul {
  padding-top: 15px;
  padding-bottom: 15px;
}


div.player-icon ul li {
  list-style: none;
  display: inline-block;
  padding-right: 15px;

}

div.player-icon ul li a i {
  color: #FFF;
  font-size: 16px;
  vertical-align: middle;

}

div.player-icon ul li a i.fa-play-circle {
  font-size: 25px;
}

div.player-icon ul li a i.fa-play-circle:hover {
  font-size: 30px;
}


div.song-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

div.song-bar span {
  color: #b3b3b3;
  font-size: 10px;
}

div.song-bar input {
  width: 80%;
}

div.right i {
  font-size: 12px;
  padding-right: 15px;
}

div.right div.volume input {
  vertical-align: middle;
}






/* FOOTER */


/* UTILITY */

.text-white {
  color: #FFF;
}

.text-center {
  text-align: center;
}

.text-grey {
  color: #b3b3b3;
}

.text-uppercase {
  text-transform: uppercase;
}

.rounded  {
  border-radius: 50%;
}

.pl-1 {
  padding-left: 20px;
}

/* UTILITY */

/* MEDIA QUERIES */

@media all and (max-width: 1100px) {
  div.music-card {
    width: calc(100% / 4 - 20px);
  }


}

@media all and (max-width: 750px) {
  div.music-card {
    width: calc(100% / 2 - 20px);
  }

  div.nav div.nav-item {
    font-size: 10px;
  }

  div.left {
    width: 200px;
  }

  div.center {
    width: 400px;
  }

  div.right {
    width: 200px;
  }

  div.right div.controls {
    display: flex;
  }


  div.like {
    padding-left: 20px;
  }

  div.right div.volume input {
    width: 70%;
  }

  div.right i {
    padding-right: 10px;
  }

  div.song-bar {
    width: 100%;
  }

  div.song-bar span {
    padding: 0 10px;
  }


}

@media all and (max-width: 600px) {
  header {
    width: calc(100vw - 50px);
  }

  aside {
    width: 50px;
    align-items: center;
    padding-left: 0;
  }

  aside h1, aside span, div.playlist {
    display: none
  }

  div.profile div.install {
    border: 0;
  }

  div.profile div.install {
    text-align: center;
  }

  div.music {
    width: calc(100vw - 50px);
  }


  div.right {
    justify-content: center;
  }

  div.right div.volume {
    display: none;
  }



}



/* MEDIA QUERIES */
